.layoutHeaderLight {
  background: #fff;
  color: #515a6e;

  .n-icon {
    color: #515a6e;
  }

  .layout-header-left {
    ::v-deep(.n-breadcrumb .n-breadcrumb-item:last-child .n-breadcrumb-item__link) {
      color: #515a6e;
    }
  }

  .layout-header-trigger {
    &:hover {
      background: #f8f8f9;
    }
  }
}
.n-layout-header {
  ::v-deep(.n-layout-header.n-layout-header--bordered) {
    border-bottom: solid 1px rgb(239, 239, 245) !important;
  }
}
