body {
  height: 100%;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Lato, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    Arial, sans-serif;
}
label {
  font-weight: 700;
}
html {
  height: 100%;
  box-sizing: border-box;
}
#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
  }
}

.app-container {
  padding: 20px;
}

#app {
  .n-config-provider {
    width: 100%;
    height: 100%;
  }
}

// 图标、头像上下居中
.n-icon,
.n-avatar {
  vertical-align: middle;
  cursor: pointer;
}

.n-layout-header.n-layout-header--absolute-positioned {
  z-index: 11;
}

.n-layout-page-header {
  margin: 0 -10px;
}

img {
  cursor: pointer;
}

// #nprogress .bar {
//   background: rgb(42, 148, 125) !important; //自定义颜色
// }
.router-link-active {
  background-color: #18a058 !important;
  color: #fff !important;
  border-color: #18a058 !important;
  &::before {
    content: '';
    background: #fff;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: relative;
    margin-right: 2px;
  }
}
