.layout-container {
  height: 100%;
}

.content-container {
  height: 100%;
}
.n-scrollbar-content {
  height: 100%;
}

.layout-header {
  height: 64px;
}

// 主体
.content-main {
  min-height: 100vh;
}
